<div class="opo-footerbar-outer bg-accent text-white">
    <div class="opo-footerbar-inner lg-container py-2 flex justify-between opo-graph">
        <span>Built with ❤️ <a href="https://www.kpunkt.ch" target="_blank" rel="norefferer">by K.</a></span>
        <div class="opo-footerbar-menu flex gap-x-9">
            <a href="/kontakt" class="opo-footerbar-menu__item">Kontakt</a>
            <a href="/impressum" class="opo-footerbar-menu__item">Impressum</a>
            <a href="/datenschutz" class="opo-footerbar-menu__item">Datenschutz</a>
        </div>
    </div>
</div>