<!DOCTYPE html>
<html lang="de-CH">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{page.title}} | JUSOs in den Kantonsrat wählen!</title>
    <meta name="title" content="{{page.title}}">
    <meta name="description" content="{{page.description}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/{{page.slug}}">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:image" content="{{page.OG}}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="/{{page.slug}}">
    <meta property="twitter:title" content="{{page.title}}">
    <meta property="twitter:description" content="{{page.description}}">
    <meta property="twitter:image" content="{{page.OG}}">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#28eb64">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#28eb64">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#CC0000">
    <link rel="stylesheet" href="/dist/bundle.min.css?v={{environment.version}}">
</head>

<body>
    <main id="opo-page-container">
        {% include ("/elements/navbar.html") with {
            "element": {
                "menu_color": page.menu_color|default("var(--opo-accent-color)")
            }
        } only %}
        <div id="main-content" class="transition-fade">