<div class="opo-heroine-outer min-h-screen flex items-center">
    <div class="opo-heroine-inner lg-container w-full py-28">
        <div class="opo-heroine-content">
            <div class="opo-heroine-titles opo-graph">
                <h1 class="opo-heroine-titles__geruest mb-0">
                    <span>Alles</span>
                    <span>Für</span>
                    <span>Alle</span>
                </h1>
                <h1 class="opo-heroine-titles__red mb-0">
                    <span>JUSO</span>
                </h1>
            </div>

            <div class="opo-heroine-subtitle">
                <h2 class="text-accent font-extrabold text-end opo-sans mb-0">
                    sozialistisch<br>
                    wählen
                </h2>
            </div>
        </div>
    </div>
</div>