<div class="opo-navbar-outer lg-container fixed top-0 left-0 w-full py-1 z-50">
    <div class="opo-navbar-inner flex py-1 px-3 gap-x-6 items-center justify-between" style="--menu-color: {{ element.menu_color|default("var(--opo-accent-color)") }};">
        <a href="/" class="opo-navbar-logo flex gap-x-3 items-center" data-swup-preload>
            {{include ("elements/nelke.svg")}}
            <span class="opo-graph text-4xl leading-none h-fit">JUSOs in den<br>
                Kantonsrat!</span>
        </a>
        <button class="opo-navbar-menu">
            <div class="opo-navbar-tofu">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </button>
    </div>
</div>