html {
    #main-content {
        transition: 0.5s ease-in-out transform, 0.5s ease-in-out filter;
    }

    .opo-mainnav-wrapper {
        opacity: 0;

        &.visible {
            opacity: 1;
        }

        .opo-mainnav-cta-item {
            width: calc(50% - 0.5rem);

            @media (max-width: 980px) {
                width: 100%
            }

            box-shadow: 0 0 0 0 black;
            transition: 0.15s ease-in-out box-shadow,
            0.15s ease-in-out transform;

            &:nth-child(even) {
                background-color: var(--opo-accent-color);
                color: white;
                border: 3px solid white;
            }

            &:nth-child(odd) {
                background-color: white;
                color: var(--opo-accent-color);
                border: 3px solid white;
            }

            &:last-child:nth-child(odd) {
                width: 100%;
            }

            &:hover {
                box-shadow: 0.5rem 0.5rem 0 black;
                transform: translate(-0.5rem, -0.5rem);
            }

            &:active {
                box-shadow: 0 0 0 0 white;
                transform: translate(0, 0);
            }
        }
    }

    @media (max-width: 1080px) {
        .opo-mainnav-wrapper {
            width: 75vw;
        }
    }

    @media (max-width: 780px) {
        .opo-mainnav-wrapper {
            width: 100vw;
        }
    }

    &.menu-open {
        overflow-y: hidden;

        .opo-mainnav-wrapper {
            opacity: 1;
        }

        #main-content {
            transform: translateX(-50%);
            filter: grayscale(100%) brightness(0.2);
        }

        @media (max-width: 1080px) {
            #main-content {
                transform: translateX(-75%);
            }
        }

        @media (max-width: 780px) {
            #main-content {
                transform: translateX(-100%);
            }
        }

        .opo-navbar-outer .opo-navbar-inner .opo-navbar-tofu div {
            background-color: white;

            &:nth-child(1) {
                transform: translateY(0.5rem) rotate(45deg);
            }

            &:nth-child(2) {
                width: 2rem;
                visibility: hidden;
                opacity: 0s;
            }

            &:nth-child(3) {
                width: 2rem;
                transform: translateY(-0.5rem) rotate(-45deg);
            }
        }

        .opo-mainnav-wrapper.interactive {
            z-index: 10;
        }
    }
}