* {
    flex-shrink: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --opo-accent-color: #CC0000;
}

#main-content {
    position: relative;
    min-height: calc(100vh - 2rem);
}