{{ include ("/elements/header.html") }}
{{ include ("/elements/heroine.html") }}

{% include ("/elements/spacer.html") with {height: "16rem"} only %}

{% include ("/elements/splash.html") with {
title: "Für unsere Zukunft",
content: "Wir müssen noch am längsten mit den jetzigen politischen Entscheidungen leben, daher wollen wir mitreden!
Damit wir eine Zukunft haben. Darum Alles Allen!",
} only %}

{% include ("/elements/spacer.html") with {height: "16rem"} only %}

{% include ("/elements/fp-topics.html") %}

{% include ("/elements/spacer.html") with {height: "16rem"} only %}

{% include ("/elements/kandis-fp.html") with {kandis: kandis} only %}

{% include ("/elements/spacer.html") with {height: "16rem"} only %}

{% include ("/elements/splash.html") with {
title: "am 12. Februar JUSOs auf Liste 2 Wählen!",
content: "Damit eine konsequente Linke gestärkt werden kann. Damit Utopien Realität werden. Damit Alles Allen kein
Slogan bleibt. Denn wir haben die Antworten auf die Probleme!",
} only %}

{% include ("/elements/spacer.html") with {height: "16rem"} only %}

{{ include ("/elements/bg.html") }}
{{ include ("/elements/footer.html") }}