{{ include ("/elements/header.html") }}
{% include ("/elements/page-heroine.html") with {
"page" : {
"title" : "Unsere Kandis",
"lead" : "Wir setzen uns im ganzen Kanton Zürich für konsequent linke Politik ein. Es gibt kein ruhiges Hinterland und
noch zu wenig linke Stadtvertretungen! Deshalb treten wir mit diesen Kandidierenden auf den Listen der SP an.",
},
"spacer_height" : "4rem"
} only %}

{# <div class="opo-constituency-selector-wrapper lg-container flex justify-end">
    <a href="#"
        class="opo-topic-heroine-read-more mt-4 opo-graph text-4xl flex items-center gap-x-4 bg-accent text-white px-2 py-1">Alle
        Wahlkreise <i data-feather="chevron-down" class="h-8 w-8"></i></a>
</div> #}

{% include ("/elements/spacer.html") with {height: "2rem"} only %}

{% include ("/elements/kandi-gallery.html") with {kandis: kandis} only %}

{% include ("/elements/spacer.html") with {height: "6rem"} only %}

{{ include ("/elements/bg.html") }}
{% include ("/elements/fp-topics.html") %}
{{ include ("/elements/footer.html") }}